
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/**
bin

# Test binary, build with `go test -c`
*.test
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# No vendor.
vendor/**

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
