# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company
#
# SPDX-License-Identifier: Apache-2.0

# Binaries for programs and plugins
build/**
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/**
bin

# Test binary, build with `go test -c`
*.test
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# No vendor.
vendor/**

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
