apiVersion: certmanager.cloud.sap/v1beta1
kind: DigicertIssuer
metadata:
  name: digicert-issuer
spec:
  provisioner:
    caCertID: "AB123456"
    organizationName: "SAP SE"
    # organizationID: 123456
    organizationUnits:
      - someOrgUnit
    validityYears: 1
    disableRenewalNotifications: true
    skipApproval: true
    paymentMethod: "balance"
    orderType: "private_ssl_plus"
    apiTokenReference:
      name: digicertissuer-secret
      key: DIGICERT_API_TOKEN
