name: "Unit tests"
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5
      - name: lint & test
        run: make test
      - name: build
        run: make build
